:root {
  --background-color: rgb(215, 238, 230);
  --font-stack: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* TODO: Make dark mode work. */
/*
@media(prefers-color-scheme: dark) {
  :root {
      --background-color: rgb(215, 238, 230);
    }
  }
*/

/* TODO: Make other themes too? For example Cool, Dim and Neon. */

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-stack, "Comic Sans MS", "Comic Sans", cursive);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
